@media (min-width: 993px) {

///////////////////////////////////////CREW/////////////////////////////////////

.crew-container .crew-pics .eachMember .card-header img {
  width: 100%;
  height: 100% !important;
}
.add-crew {
  height: 209px !important;
 a {
    width: 100%;
    padding-top: 50px;
    padding-left: 28px;
  }
}

/////////////////////////////////FIND GAMES////////////////////////////////////
  .white-locator {
    visibility: hidden;
  }
  .create-match {
    left: 487px;
    top: 178px;
  }

}//END OF MEDIA
