
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import Materialize
@import "../../materialize-src/sass/materialize";
@import "media_queries_max_600";
@import "_media_queries_max_992";


/////////////////////////////////UTILITIES//////////////////////////////////////

  /* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   .input-field input[type=text] {
     color: white;
   }
   .input-field input[type=password] {
     color: white;
   }
   .input-field input[type=email] {
     color: white;
   }
   .input-field input[type=number] {
     color: white;
   }
   .input-field textarea {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 black;
     color: white;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #76ff03;
     box-shadow: 0 1px 0 0 black;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 black;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #FFF;
   }



///////////////////////////////////////BODY////////////////////////////////////


body {
    background-image: url('././goal-photo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40% 100%;
    position: relative;
}


///////////////////////////////////////APP//////////////////////////////////////
#app {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 60px;
  width: 100%;
  position: relative;
}
body::before{
  content:"";
  position: absolute;
  height:1000px;
  left: 0;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.8;
}

///////////////////////////////WELCOME-PAGE/////////////////////////////////////


#welcome-body {
  // padding: 70px 190px 0 190px;
  -webkit-animation:fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  .welcome-container {
    padding: 0 50px;
    .play {
      margin-top: 10px;
      .first-set {
        font-size: 80px;
        font-family: 'Oswald', sans-serif;
      }
    }
    #signUp {
      color: #80DF3F;
      .signUp {
        display: block;
        width: 100%;
        color: black;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 16px;
      }
    }
    #signIn {
      .signIn {
        display: block;
        width: 100%;
        color: black;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 16px;

      }
    }
    .description {
      padding: 0 auto;
      color: white;
    }
    .logo-container {
      margin-top: 125px;
      #logo {
        width: 350px;
        height: 150px;
      }
    }
  }

}


///////////////////////////////SIGN-UP PAGE/////////////////////////////////////

.user-information {
  .logo {
    margin-bottom: 10px;
    #signup-logo {
      height: 100px;
      width: 200px;
    }
  }

  .create {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    color: white;

  }
  form {
    .first-last {
      margin-bottom: 0;
    }
    button {
      width: 40%;
    }
  }
  .error {
    color: white;
  }
}


///////////////////////////////SIGN-IN PAGE/////////////////////////////////////

.sign-in {
  margin-top: 20px;
  input {
    width: 100%;
  }
  .logo1 {
    margin-bottom: 10px;
    #signin-logo {
      height: 100px;
      width: 230px;
    }
  }
  .create1 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    color: white;
  }
  .signInButton {
    button {
      margin-top: 40px;
      width: 40%;
      font-size: 16px;
      font-family: 'Oswald', sans-serif;
      color: black;
    }
  }
}


////////////////////////////////////Profile Page////////////////////////////////
.profile-page {
  #profile-logo {
    height: 100px;
    width: 230px;
  }

  #profilePic {
    width: 40%;
    height: 290px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
  }
  .sign-out {
    cursor: pointer;
    color: white;

  }
  .sign-out:hover {
    color: red;
  }
  #user {
    color: white;
  }
  #tel {
    color: white;
  }
  .edit-button {
    // margin-top: -70px;
    position: absolute;
    left: 620px;
    top: 455px;
  }
  .edit-button i:hover {
    background-color: #76ff03;
    color: black;
  }
  .gcm {
    margin-top: 20px;
    button {
      margin-bottom: 40px;
      background-color: #757575;
    }
    button:hover {
      background-color: #76ff03;
    }
  }

}

/////////////////////////////////////GAMES//////////////////////////////////////
.games {
  .game-nav {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    color: #EFECEC;
    #games-logo {
      height: 80px;
      width: 100%;
    }
  }
  .game-name {
    padding-top: 21px;
    h4 {
      margin: 2px 0 0 0;
    }
  }
  .sign-out-icon {
    padding-top: 21px;

  }

  .search {
    span {
      margin: 2px 6px 0 0;
      font-size: 33px;
    }
  }
  .search-button {
    button {
      color: black;
      font-family: 'Oswald', sans-serif;

    }
  }
  .create-match {
    position: absolute;
    top: 140px;
    left: 560px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: black;
  }
  .games-container {
    input {
      margin-bottom: 50px;
    }
  }
  #current-location {
    margin-top: -10px;
    i {
      color: black;
    }
  }
}



///////////////////////////////////CREATE MATCH/////////////////////////////////
.match-container {
  // margin-top: 100px;
  .createMatch {
    color: white;
    font-family: 'Oswald', sans-serif;
  }
  .public-match {
    color: black;
    font-family: 'Oswald', sans-serif;

  }
  .crew-match {
    color: black;
    font-family: 'Oswald', sans-serif;

  }
}

///////////////////////////////////////CREW////////////////////////////////////
.crew-container {
  .crew-title {
    margin-bottom: 40px;
    h4 {
      color: white;
      font-family: 'Oswald', sans-serif;
    }
  }
  .crew-sign-out {
    color: white;
  }
  .crew-sign-out:hover {
    color: red;
    cursor: pointer;
  }
  .add-crew {
    a {
      margin-top: 5px;
      margin-bottom: 17px;
      padding-top: 50px;
      height: 162px;
      background-color: #211F1F;
      width: 89%;
      border-radius: 4%;
      i {
        color: black;
        font-size: 6rem;
      }
    }
    p {
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
    }
  }
  .crew-pics {
    padding-top: 22px;
    margin-bottom: 20px;
    .eachMember {
      display: inline-block;

      .card {
        background-color: black;

      }
      .card-header {
        border: 1px solid #FFF;
        border-radius: 5%;

        img {
          height: 160px;
        }
      }
      .crew-info {
        top: 359px;
        color: white;
        font-family: 'Oswald', sans-serif;

      }


    }
  }
  .createMatch {
    margin-top: 50px;
    button {
      color: black;
      font-family: 'Oswald', sans-serif;

    }
  }
  #form-body {
    margin-top: 50px;
    button {
      font-family: 'Oswald', sans-serif;
      color: black;
    }
  }
  .invite-info {
    color: #76ff03;;
    font-family: 'Oswald', sans-serif;

  }
}


//////////////////////////////GAMES DISTANCE////////////////////////////////////
.games-info {
  .distance-logout {
    color: white;
  }
  .distance-logout:hover {
    color: red;
  }
  .area-games {
    .game-list {
      margin-bottom: 0;
    }
    .header-collection {
      padding: 11px 20px 10px 20px;
      h5 {
        font-family: 'Oswald', sans-serif;
        display: inline;
        margin-left: 30px;
      }
      i {
        display: inline;
      }
    }
  }
  .games-details {
    color: white;
    .icon {
      font-size: 1.2rem;
    }
    .pdetails {
      margin: 30px 0 0px 25px;

    }
    .join-game {
      color: black;
      font-family: 'Oswald', sans-serif;
      font-size: 14px;
      margin-left: 47%;
      margin-top: 20px;
    }
  }
}
////////////////////////////////Invitations/////////////////////////////////////
.invite-nav {
  .invitation-logo {
    img {
      height: 100px;
      width: 230px;
      // filter: grayscale(1);
      // -webkit-filter: grayscale(1);
      // -moz-filter: grayscale(1);
      // -o-filter: grayscale(1);
      // -ms-filter: grayscale(1);
    }
  }
  .invitation-sign-out {
    color: white;
  }
  .invitation-sign-out:hover {
    color: red;
    cursor: pointer;
  }
}
.invitations {
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  .each-invite {
    margin-bottom: 0;
    padding: 10px 30px 10px 20px;
    .nameMod {
      padding-top: 10px;
    }
  }
}
////////////////////////////////      ////////////////////////////////
.map {
  #map {
    position:absolute;
    top: 235px;
    bottom:80px;
    left: 206px;
    width: 67%;
    height: 400px;

   }
 }
 #map1 {
   position: absolute;
   top: 490px;
   bottom:80px;
   width: 33%;
   height: 300px;
 }


.create-match {
  margin-top: 480px;

}

.profile-page {
  // max-width: 600px;
  // margin-top: 180px;
  // border: 1px solid black;
  h3 {
    margin-top: 40px;
  }
  p {
    margin-top: 30px;
    margin-bottom: 80px;

  }
  button {
    display: block;
    width: 100%;
    margin-bottom: 30px;

  }
  // display: inline-block;
  // text-align: center;
  // margin: 0 auto;
  // margin-left: 50%;
  // margin-right: 50%;

  // padding: 170px 290px 0 290px;

}
