
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// @import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-image: url('https://farpostfooty.files.wordpress.com/2016/02/goal-photo.jpeg?w=1200');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40% 100%;
    position: relative;
    padding-top: 120px;

}
.overlay-content-box{

    width: 100%;
    height:768px;
    position: absolute;;
    left: 0;
    top: 0;
    overflow-y: scroll;
    background-color: black;
    opacity: 0.7;
    z-index: -1;

}


/////////////////////////////////app container///////////////////////////////
#app {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  margin: 0;
  width: 100%;
}

///////////////////////////////Welcome-Page/////////////////////////////////
#welcome-body {
  // padding: 70px 190px 0 190px;
  -webkit-animation:fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  .welcome-container {
    padding: 0 50px;
    .play {
      margin-top: 10px;
      .first-set {
        font-size: 80px;
        font-family: 'Oswald', sans-serif;
      }
    }
    #signUp {
      color: #80DF3F;
      .signUp {
        display: block;
        width: 100%;
        color: black;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 16px;
      }
    }
    #signIn {
      .signIn {
        display: block;
        width: 100%;
        color: black;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 16px;

      }
    }
    .description {
      padding: 0 auto;
      color: white;
    }
    .logo-container {
      margin-top: 80px;
      	filter: grayscale(1);
      	-webkit-filter: grayscale(1);
      	-moz-filter: grayscale(1);
      	-o-filter: grayscale(1);
      	-ms-filter: grayscale(1);
      #logo {
        width: 350px;
        height: 150px;
      }
    }
  }

}


///////////////////////////////SIGN-UP PAGE//////////////////////////////////////
.user-information {
  .logo {
    margin-bottom: 10px;
    #signup-log {
      height: 100px;
      width: 200px;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      -ms-filter: grayscale(1);
    }
  }

  .create {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    color: white;

  }
  form {
    .first-last {
      margin-bottom: 0;
    }
  }
  .error {
    color: white;
  }
}


///////////////////////////////      ///////////////////////////////



#map {
  position:absolute;
  top: 300px;
  bottom:80px;
  left: 280px;
  width: 50%;
  // canvas {
  //   width: 300px;
  //   height: 300px;
  //   }
 }
 #map1 {
   position:absolute;
   top:250px;
   bottom:80px;
   width:52%;
 }
 // .gameDetails {
 //   border: 1px solid red;
 //   position: absolute;
 //   left: 900px;
 //   width: 24%;
 //   top: 142px;
 // }

.create-match {
  margin-top: 480px;

}



.sign-in {
  margin-top: 120px;
  .create1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
.profile-page {
  // max-width: 600px;
  // margin-top: 180px;
  // border: 1px solid black;
  h3 {
    margin-top: 40px;
  }
  p {
    margin-top: 30px;
    margin-bottom: 80px;

  }
  button {
    display: block;
    width: 100%;
    margin-bottom: 30px;

  }
  // display: inline-block;
  // text-align: center;
  // margin: 0 auto;
  // margin-left: 50%;
  // margin-right: 50%;

  // padding: 170px 290px 0 290px;

}
.games {
  .games-container {
    input {
      margin-bottom: 50px;
    }
    #current-location {
      margin-bottom: 30px;
    }
  }
}

.crew-container {
  .add-crew {
    margin-bottom: 50px;
  }
  .crew-pics {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    .eachMember {
      display: inline-block;

    }
  }
}
.match-container {
  margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 991px){
  #welcome-body {
    // padding: 0 190px;
  }

}
@media (min-width: 400px) and (max-width: 767px){
  #welcome-body {
    margin-top: 120px;
    padding: 0 10px;
  }
  .play {
    h2 {
      font-size: 24px;
      margin: 0 auto;
    }

  }

}
