
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// @import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top: 190px;
  bottom:80px;
  width: 70%;
  // canvas {
  //   width: 300px;
  //   height: 300px;
  //   }
 }
 #map1 {
   position:absolute;
   top:250px;
   bottom:80px;
   width:52%;
 }
 // .gameDetails {
 //   border: 1px solid red;
 //   position: absolute;
 //   left: 900px;
 //   width: 24%;
 //   top: 142px;
 // }

.create-match {
  margin-top: 480px;

}




#welcome-body {
  padding: 70px 190px 0 190px;

  .welcome-container {
    padding: 0 50px;
    h2 {
      padding: 0 auto;

      // margin-left: 80px;
      // margin-right: 80px;
      // margin-bottom: 150px;
    }
    button {
      // margin-left: 127px;
    }
  }

}

.signUp {
  display: block;
  width: 100%;
}

.signIn {
  display: block;
  width: 100%;
}

.user-information {
  margin-top: 120px;
  .create {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
.sign-in {
  margin-top: 120px;
  .create1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
.profile-page {
  // max-width: 600px;
  // margin-top: 180px;
  // border: 1px solid black;
  h3 {
    margin-top: 40px;
  }
  p {
    margin-top: 30px;
    margin-bottom: 80px;

  }
  button {
    display: block;
    width: 100%;
    margin-bottom: 30px;

  }
  // display: inline-block;
  // text-align: center;
  // margin: 0 auto;
  // margin-left: 50%;
  // margin-right: 50%;

  // padding: 170px 290px 0 290px;

}
.games {
  .games-container {
    input {
      margin-bottom: 50px;
    }
    #current-location {
      margin-bottom: 30px;
    }
  }
}

.crew-container {
  .add-crew {
    margin-bottom: 50px;
  }
  .crew-pics {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    .eachMember {
      display: inline-block;

    }
  }
}
.match-container {
  margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 991px){
  #welcome-body {
    // padding: 0 190px;
  }

}
@media (min-width: 400px) and (max-width: 767px){
  #welcome-body {
    margin-top: 120px;
    padding: 0 10px;
  }
  .play {
    h2 {
      font-size: 24px;
      margin: 0 auto;
    }

  }

}
